*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color:  rgb(130, 189, 241);
}

.container{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3;

}

.calculator{
    border-radius: 27px;
    padding: 17px;
    display: grid;
    grid-template-columns: repeat(4, 66px);

}

input{
    grid-column: span 4;
    height: 68px;
    width: 258px;
    background-color: aliceblue;
    border: none;
    border-radius: 32px;
    text-align: end;
    margin: 40px 0px 30px 0px;
    font-size: 40px;
    padding: 20px;
}

button{
    border: none;
    background-color: aliceblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 017px;
}

.equal{
    width: 120px;
    border-radius: 42px;
    background-color: aliceblue;
}